[user]
  name = Server Root Name
  email = root@server.io

[alias]
  c = commit -m
  ca = commit -am
  cl = clone
  pl = pull
  p = push
  pa = push --all
  pt = push --tags
  s = status -s
  m = merge
  b = branch
  r = reset
  bd = push origin --delete
  sclone = clone --depth=1
  co = checkout
  df = diff --color --color-words --abbrev
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

  # Show the diff between the latest commit and the current state
  d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

  reup = rebase-update # depot_tools specific

  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p

[help]
  autocorrect = 1

[push]
  default = current

# so much color
[color]
  ui = always
[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

# [credential]
#   helper = store